h1 {
    color: white;
    text-align: Center;
	font-size: 250%;
}
h2 {
    color: white;
    font-size: 150%;
    text-align: center;
}
a {
	color: black;
}
h3 {
	color: white;
	font-size: 100%;
	text-align: center;
}
body {
	background-color: gray;
border-color: blue green yellow red;
}
table{
	border: 1px solid white;
	width: 100%
}

	
